@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class='center'>
    <h1 class="display-4 awesome">C a l i c o t</h1>
</div>

<p>
    Voyez notre <a asp-page="./Produits/Liste"> liste de produits</a>!
</p>


<footer>
    <a href="https://docs.microsoft.com/aspnet/core">build with ASP.NET Core</a>
</footer>